$font-normal: MeliorCom;
$font-bold: MeliorCom-Bold;
$font-normal-akzidenz: Helvetica;
$font-bold-akzidenz: Helvetica;
$color-red: #e3000e;
$color-grey: #7d7d7d;
$color-border: #e5e5e5;

// base classes
.box-sizing
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}

.bold-akzidenz
{
	font-family: $font-bold-akzidenz;
	font-weight: bold !important;
}

* 
{
	font-family: $font-normal-akzidenz;
	font-weight: normal;
	font-style: normal;
	color: $color-grey;
}

body { height: 100%;}

body
{
	margin: 0px; 
	padding: 0px;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
}

a, a:hover
{
	color: $color-grey;
}
label
{
	a { text-decoration: underline; }
}

ul 
{ 
	color: $color-red;
	margin-top: 5px;
	li
	{
		list-style-type: square;
		color: $color-red;
	}
}

h1, h2, h3, h4, h5 
{
	font-family: MeliorCom-Bold;
	font-weight: normal!important;
	padding: 0;
	margin: 0;
	text-align: center;
	color: #7d7d7d;
}

h1 { font-size: 20px; line-height: 25px; margin: 0 0 10px 0; }
h2 
{ 
	font-size: 16px; 
	font-family: $font-normal-akzidenz;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 15px 0;
}
h3 { font-size: 16px; line-height: 20px; }

.link-btn, input[type="submit"], input[type="button"], .btn-tipp, .fb-btn
{
	@extend .box-sizing;
	@extend .bold-akzidenz;
	display: inline-block;
	padding: 10px 20px;
	background: $color-red;
	color: #fff;
	text-align: center;
	border: 0;
	text-decoration: none;
}
.link-btn:hover, .link-btn:active, .link-btn:focus, .btn-tipp:hover, .btn-tipp:active, .btn-tipp:active
{
	color: #fff !important;
	text-decoration: none;
}
.btn-tipp
{
	padding: 2px 10px; margin: 0px 0 5px 10px; text-decoration: none !important; color: #fff !important;
}
.fb-btn
{
	//display: none;
	background-color: #3d5e96;
	background-image: url(/Images/fb-btn-bg.png);
	background-repeat: no-repeat;
	background-size: 23px 23px;
	background-position: 10px 7px;
	width: 100%;
	color: #fff !important;
}
.fb-btn:hover { text-decoration: none !important; }

header
{
	@extend .box-sizing;
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 7px 0;
	box-shadow:2px 2px 2px 1px $color-border;
	text-align: center;
	.logo { width: 156px; }
}
#h-menu
{
	@extend .box-sizing;
	display: inline-block;
	position: absolute;
	left: 10px;
	top: 16px;
	.menu-link 
	{ 
		img { width: 27px; }
	}
}
#mobile-menu
{
	@extend .box-sizing;
	display: none;
	position: absolute;
	left: 0;
	top: 57px;
	width: 100%;
	background: #fff;
	z-index: 1000;
	box-shadow:2px 2px 4px 1px #666;
	a
	{
		@extend .box-sizing;
		display: inline-block;
		width: 100%;
		text-align: center;
		padding: 15px 0;
		border-bottom: 1px solid $color-red;
		color: $color-red;
		font-size: 20px;
	}
	a:last-of-type { border: 0; }
}
#lng-change-container
{
	@extend .box-sizing;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 12px;
	select { width: auto; padding: 0; }
}

#page-footer
{
	@extend .box-sizing;
	display: inline-block;
	position: relative;
	width: 100%;
	text-align: center;
	padding: 15px 0 15px 0;
	box-shadow:2px -2px 2px 1px $color-border;
	.share-container
	{
		a { display: inline-block; margin: 0 5px; }
	}
	.popup-links
	{
		@extend .box-sizing;
		display: inline-block;
		width: 100%;
		margin: 15px 0 15px 0;
		a { display: inline-block; width: 100%; margin: 0 0 5px; }
	}
}

.page-container
{
	@extend .box-sizing;
	display: inline-block;
	width: 100%;
	padding: 10px;

	section
	{
		@extend .box-sizing;
		display: inline-block;
		width: 100%;
		padding: 0 0 10px 0;

		h3 { margin: 10px 0; }
		h3.link { cursor: pointer; text-decoration: underline; }
		h3.link:hover { text-decoration: underline; }

		.center-content
		{
			@extend .box-sizing;
			display: inline-block;
			width: 100%;
			text-align: center;
		}

		.bonus
		{
			font-size: 45px;
			line-height: 50px;
			color: $color-red;
			font-family: $font-normal-akzidenz;
			font-weight: normal;
			margin: 0 0 15px 0;
		}

		.current-points
		{
			display: inline-block;
			font-size: 80px;
			padding: 50px;
			color: $color-red;
			background: $color-border;
		}

		.points-for-row
		{
			@extend .box-sizing;
			display: inline-block;
			margin: 0 0 5px 0;
			text-align: center;
			width: 100%;
			span
			{
				display: inline-block;
				color: $color-red;
				background: $color-border;
				padding: 8px;
				font-size: 20px;
			}
			label
			{
				display: inline-block;
				margin: 0 0 0 10px;
				cursor: default;
				width: 190px;
			}
		}

		.open-question
		{
			display: inline-block;
			color: $color-red;
			//background: $color-border;
			border: 1px solid #fff;
			font-size: 20px;
			//padding: 8px;
			margin: 10px 1px 0 0;
			img { width: 40px; height: 40px; }
		}
		.open-question:hover
		{
			border: 1px solid $color-red;
			color: #fff;
			text-decoration: none;
		}
	}
	section.danke
	{
		.link-btn { width: 100%; }
	}
	section.highscores
	{
		table
		{
			margin-left:auto; 
			margin-right:auto;
			td
			{
				text-align: left;
				padding: 5px 20px 5px 10px;
			}
			tr:nth-child(odd) 
			{
				td{ background-color: $color-border; }
			}
			tr.my-rank 
			{
				td.rank { @extend .bold-akzidenz; }
				td.name{  @extend .bold-akzidenz; color: $color-red; }
			}
			td.rank { color: $color-red; }
			td.name { width: 300px; }
			td.points { @extend .bold-akzidenz; color: $color-red; text-align: right; padding-right: 10px; width: 100px; }
		}
	}
	section.current-question
	{
		h3 { margin: 10px 0 5px 0; }
		h2
		{
			font-family: MeliorCom-Bold;
			font-weight: normal!important;
			font-size: 20px; 
			line-height: 25px; 
			margin: 0 0 15px 0;
		}
		.center-content
		{
			span { font-weight: bold; color: $color-red; }
			img { width: 55px; height: 55px; display: inline-block; margin: 10px 0 5px 0; }
		}
	}
}
.page-container.advent
{
	h1
	{
		@extend .bold-akzidenz;
		font-size: 18px;
		color: $color-red;
		text-transform: uppercase;
		line-height: 25px !important;
		span
		{
			font-family: $font-normal-akzidenz;
			font-weight: normal;
			color: $color-red;
		}
	}
}

#fanwall
{
	img { width: 140px; margin: 0px 1px 5px 1px; display: inline-block;  }
}

.intro-hashtag-container
{
	img { width: 130px; margin: 5px; display: inline-block; }
}

.shape-container
{
	display: inline-block;
	width: 100%;
	position: relative;
	text-align: center;
	a
	{
		position: absolute;
		top: 50%;
		margin-top: -20px;
		z-index: 101;
	}
	a.prev { left: 0; }
	a.next { right: 0; }
	.snowie-version { display: none; }
	.snowie-version.active { display: inline-block; }
}

#map-container
{
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	opacity: 0.0;
}
#map-back-btn
{
	position: absolute;
	z-index: 2;
	top: 10px;
	left: 10px;
	img { width: 40px; height: 40px; }
}
#map-feedback-container
{
	@extend .box-sizing;
	display: inline-block;
	position: absolute;
	padding: 5px 10px;
	z-index: 300;
	top: 10px;
	left: 60px;
	right: 10px;
	background: rgba(255, 255, 255, 0.75);
	box-shadow:0px 0px 1px 1px #edecec;
	border-radius: 10px;
	display: none;
	.question-how-to
	{
		@extend .box-sizing;
		display: inline-block;
		width: 100%;
		span { color: $color-red !important; font-size: 12px; line-height: 14px !important; }
		span.important { font-weight: bold; }
		text-align: center;
	}
}
#answer-points { font-size: 18px !important; }

.content-template { display: none; }

.msg-container
{ 
	@extend .box-sizing;
	display: none;
	width: 100%;
}
.msg-container.visible
{ 
	display: block !important; 
	.msg { display: block !important; }
}
.msg
{
	@extend .box-sizing;
	width: 100%;
	display: none;
	@extend .img-shadow;
	padding: 10px;
	margin: 10px 0 10px 0;
	text-align: center;
	p
	{
		padding: 0;
		margin: 0;
	}
}
.msg.error
{ 
	border: 1px solid #ef4d69; 
	background: #fef3f5;
	h2 { color: #ef4d69; font-size: 20px; }
}
.msg.success
{ 
	border: 1px solid #0eb48d; 
	background: #c2ece2;
	h2 { color: #0eb48d; font-size: 20px; }
}

form
{
	@extend .border-box;
	width: 100%;
	display: inline-block;
	margin: 0 !important;
	
	.field-container
	{
		width: 100%;
		display: inline-block;
		margin: 0 0 10px 0;
		label
		{
			@extend .border-box;
			width: 100%;
			display: inline-block;
		}
		input, select
		{
			@extend .box-sizing;
			width: 100%;
			display: inline-block;
			margin: 0 0 5px 0;
			border: 1px solid #d5d5d5;
			-moz-box-shadow:    inset 0 0 5px #e6e6e6;
			-webkit-box-shadow: inset 0 0 5px #e6e6e6;
			box-shadow:         inset 0 0 5px #e6e6e6;
			padding: 5px 10px;
			border-radius: 3px;
			margin: 0 0 10px 0;
			font-size: 100%;
			line-height: auto;
			height: auto;
		}
		input[type="radio"], input[type="checkbox"]
		{
			width: auto;
			border: 0;
			-moz-box-shadow:    none;
			-webkit-box-shadow: none;
			box-shadow:         none;
			padding-left: 0 !important;
			vertical-align: middle !important;
			margin: 0;
		}
		label.radio { width: auto; display: inline-block; margin: 0 15px 0 5px; padding-left: 0px; }
		.checkbox-container
		{
			display: inline-block;
			padding: 5px 0 5px 0;
			width: 100%;
			input { width: 5%; vertical-align: top !important; }
			label { width: 80%; }
		}
	}
	.login-options
	{
		text-align: center;
		h2 { margin: 0; }
		a { font-weight: bold; display: inline-block; margin: 5px 0 0 0; color: $color-red; text-decoration: underline; }
		span { display: inline-block; width: 100%; margin: 10px 0; text-align: center; font-size: 14px; }
	}
}
#login-container
{
	display: none; 
	text-align: center;
	span { display: inline-block; width: 100%; text-align: center; font-size: 14px; margin: 10px 0; }
	.back-link { display: inline-block; font-size: 16px; text-decoration: underline; color: $color-red; font-weight: bold; }
}

.email-share-form
{
	@extend .box-sizing;
	display: inline-block;
	width: 200px;
	z-index: 10000001;
	height: 170px;
	input { z-index: 10000001; @extend .box-sizing; float: left; }
	input[type="text"] { height: 30px; width: 100%; }
}
.email-share-success 
{ 
	z-index: 10000001;
	@extend .box-sizing;
	display: none;
	float: left; 
	width: 200px;
	margin-bottom: 10px; 
	height: 170px;
}

/* MODAL */
.modal-backdrop, .modal-backdrop.fade.in { background: #fff; z-index: -1; opacity: 0.98; }
.modal.modal-fullscreen { max-width: none; }
.modal-fullscreen.fade.in {	bottom: 0; top: 0; }
.modal-fullscreen 
{
	@extend .box-sizing;
	background: transparent;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-left: -50% !important;
	width: 100% !important;
}

.modal-header, modal-footer 
{
	background: transparent;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 0;
	//position: absolute;
	right: 0;
	top: 0;
	z-index: 2000;
	display: inline-block;
	width: 100%;
	@extend .box-sizing;
	.btn-close
	{
		@extend .box-sizing;
		display: inline-block;
		float: right;
		background-image: url(/Images/btn-close.png);
		background-repeat: no-repeat;
		//background-position: 20px 20px;
		width: 24px;
		height: 24px;
		cursor: pointer;
	}
}
.modal-header [data-dismiss="modal"] { float: right; }
.modal-body 
{
	max-height: 100%;
	padding: 0;
	text-align: center;
	margin: 10px 5px 5px 5px!important;
	article
	{
		@extend .box-sizing;
		display: inline-block;
		width: 100%;
		padding: 5px;
		.content
		{
			iframe
			{
				//width: 100%;
				border: 0px;
			}

			@extend .box-sizing;
			position: relative;
			display: inline-block;
			width: 100%;
			margin: 10px 0;
			.gallery-container
			{
				display: inline-block;
				width: 100%;
				position: relative;
				a
				{
					position: absolute;
					top: 50%;
					margin-top: -20px;
					z-index: 101;
				}
				a.prev { left: 0px; display: none; }
				a.next { right: 0px; display: none; }
				.g-item { display: none; }
				.g-item.active { display: inline-block; }
			}
		}
		.content.teilnahmebedingungen 
		{ 
			text-align: left; 
			h4 { text-align: left; margin: 5px 0; }
		}
		.content-description
		{
			@extend .box-sizing;
			position: relative;
			display: inline-block;
			width: 100%;
			margin: 0 0 10px 0;
		}
		.rezept-container
		{
			@extend .box-sizing;
			position: relative;
			display: inline-block;
			width: 100%;
			text-align: left;
			h1 { margin: 0 0 15px 0; }
			.col
			{
				h3 { text-align: left; }
				@extend .box-sizing;
				display: inline-block;
				width:100%;
				text-align: left;
				vertical-align: top;
				margin: 0 0 15px 0;
			}
		}
	}
	article.bonus
	{
		//padding: 0 90px 0 20px;
	}
	
	footer
	{
		@extend .box-sizing;
		position: relative;
		display: inline-block;
		width: 100%;
		.content-container
		{
			@extend .box-sizing;
			position: relative;
			display: inline-block;
			width: 100%;
			border-top: 1px solid $color-border;
			border-bottom: 1px solid $color-border;
			padding: 10px 0;
			margin: 0 0 20px 0;
			.left
			{
				@extend .box-sizing;
				display: inline-block;
				width: 100%;
				text-align: center;
				vertical-align: top;
				margin: 0 0 15px 0;
				a { color: $color-red; }
			}
			.right
			{
				@extend .box-sizing;
				display: inline-block;
				width: 100%;
				margin: 0 0 40px 0;
				.link-btn { width: 100%; margin: 0 0 3px 0; padding: 5px 20px; }
				.share-container
				{
					@extend .box-sizing;
					display: inline-block;
					width: 100%;
					margin: 10px 0 0 0;
					span 
					{ 
						display: inline-block;
						text-align: center; 
						width: 100%;
						margin: 0 0 10px 0;
					}
					a
					{
						margin: 0 5px 0 0;
					}
				}
			}
		}
	}
}
.modal-body > * { margin-bottom: 0; margin-top: 0; }
.modal-footer {	bottom: 0; top: auto; }
@media (max-width: 767px)
{
	.modal 
	{
		left: 50%;
		//right: 0;
	}
}

.error, input.error, select.error, textarea.error
{
	background: #f7a6b4;
	color: #fff;
	label
	{
		color: #fff;
	}
}
.error::-webkit-input-placeholder { color: #fff; }
.error:-moz-placeholder { color: #fff; opacity:  1; }
.error::-moz-placeholder { color: #fff; opacity:  1; }
.error:-ms-input-placeholder { color: #fff; }

.full-width { width: 100% !important; }

// loading animation
#loading-message{display:none;background: #fff;font-size:25px;color:#000;position:fixed;z-index:1000099;bottom:0;left:0;width:100%;height:auto;text-align:center;padding:15px 0 0 0}#loading-message span{display:block;margin:0 auto}#loading-message span[class*="l-"]{height:4px;width:4px;background:#000;display:inline-block;margin:12px 2px;border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;-webkit-animation:loader 4s infinite;-webkit-animation-timing-function:cubic-bezier(0.03,0.615,0.995,0.415);-webkit-animation-fill-mode:both;-moz-animation:loader 4s infinite;-moz-animation-timing-function:cubic-bezier(0.03,0.615,0.995,0.415);-moz-animation-fill-mode:both;-ms-animation:loader 4s infinite;-ms-animation-timing-function:cubic-bezier(0.03,0.615,0.995,0.415);-ms-animation-fill-mode:both;animation:loader 4s infinite;animation-timing-function:cubic-bezier(0.03,0.615,0.995,0.415);animation-fill-mode:both}#loading-message span.l-1{-webkit-animation-delay:1s;animation-delay:1s;-ms-animation-delay:1s;-moz-animation-delay:1s}#loading-message span.l-2{-webkit-animation-delay:.8s;animation-delay:.8s;-ms-animation-delay:.8s;-moz-animation-delay:.8s}#loading-message span.l-3{-webkit-animation-delay:.6s;animation-delay:.6s;-ms-animation-delay:.6s;-moz-animation-delay:.6s}#loading-message span.l-4{-webkit-animation-delay:.4s;animation-delay:.4s;-ms-animation-delay:.4s;-moz-animation-delay:.4s}#loading-message span.l-5{-webkit-animation-delay:.2s;animation-delay:.2s;-ms-animation-delay:.2s;-moz-animation-delay:.2s}#loading-message span.l-6{-webkit-animation-delay:0;animation-delay:0;-ms-animation-delay:0;-moz-animation-delay:0}@-webkit-keyframes loader{0%{-webkit-transform:translateX(-30px);opacity:0}25%{opacity:1}50%{-webkit-transform:translateX(30px);opacity:0}100%{opacity:0}}@-moz-keyframes loader{0%{-moz-transform:translateX(-30px);opacity:0}25%{opacity:1}50%{-moz-transform:translateX(30px);opacity:0}100%{opacity:0}}@-keyframes loader{0%{-transform:translateX(-30px);opacity:0}25%{opacity:1}50%{-transform:translateX(30px);opacity:0}100%{opacity:0}}@-ms-keyframes loader{0%{-ms-transform:translateX(-30px);opacity:0}25%{opacity:1}50%{-ms-transform:translateX(30px);opacity:0}100%{opacity:0}}