.box-sizing, .link-btn, input[type="submit"], input[type="button"], .btn-tipp, .fb-btn, header, #h-menu, #mobile-menu, #mobile-menu a, #lng-change-container, #page-footer, #page-footer .popup-links, .page-container, .page-container section, .page-container section .center-content, .page-container section .points-for-row, #map-feedback-container, #map-feedback-container .question-how-to, .msg-container, .msg, form .field-container input, form .field-container select, .email-share-form, .email-share-form input, .email-share-success, .modal-fullscreen, .modal-header, modal-footer, .modal-header .btn-close, modal-footer .btn-close, .modal-body article, .modal-body article .content, .modal-body article .content-description, .modal-body article .rezept-container, .modal-body article .rezept-container .col, .modal-body footer, .modal-body footer .content-container, .modal-body footer .content-container .left, .modal-body footer .content-container .right, .modal-body footer .content-container .right .share-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.bold-akzidenz, .link-btn, input[type="submit"], input[type="button"], .btn-tipp, .fb-btn, .page-container section.highscores table tr.my-rank td.rank, .page-container section.highscores table tr.my-rank td.name, .page-container section.highscores table td.points, .page-container.advent h1 {
  font-family: Helvetica;
  font-weight: bold !important; }

* {
  font-family: Helvetica;
  font-weight: normal;
  font-style: normal;
  color: #7d7d7d; }

body {
  height: 100%; }

body {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 14px; }

a, a:hover {
  color: #7d7d7d; }

label a {
  text-decoration: underline; }

ul {
  color: #e3000e;
  margin-top: 5px; }
  ul li {
    list-style-type: square;
    color: #e3000e; }

h1, h2, h3, h4, h5 {
  font-family: MeliorCom-Bold;
  font-weight: normal !important;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #7d7d7d; }

h1 {
  font-size: 20px;
  line-height: 25px;
  margin: 0 0 10px 0; }

h2 {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: normal;
  line-height: 20px;
  margin: 0 0 15px 0; }

h3 {
  font-size: 16px;
  line-height: 20px; }

.link-btn, input[type="submit"], input[type="button"], .btn-tipp, .fb-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #e3000e;
  color: #fff;
  text-align: center;
  border: 0;
  text-decoration: none; }

.link-btn:hover, .link-btn:active, .link-btn:focus, .btn-tipp:hover, .btn-tipp:active, .btn-tipp:active {
  color: #fff !important;
  text-decoration: none; }

.btn-tipp {
  padding: 2px 10px;
  margin: 0px 0 5px 10px;
  text-decoration: none !important;
  color: #fff !important; }

.fb-btn {
  background-color: #3d5e96;
  background-image: url(/Images/fb-btn-bg.png);
  background-repeat: no-repeat;
  background-size: 23px 23px;
  background-position: 10px 7px;
  width: 100%;
  color: #fff !important; }

.fb-btn:hover {
  text-decoration: none !important; }

header {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 7px 0;
  box-shadow: 2px 2px 2px 1px #e5e5e5;
  text-align: center; }
  header .logo {
    width: 156px; }

#h-menu {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 16px; }
  #h-menu .menu-link img {
    width: 27px; }

#mobile-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 57px;
  width: 100%;
  background: #fff;
  z-index: 1000;
  box-shadow: 2px 2px 4px 1px #666; }
  #mobile-menu a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #e3000e;
    color: #e3000e;
    font-size: 20px; }
  #mobile-menu a:last-of-type {
    border: 0; }

#lng-change-container {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 12px; }
  #lng-change-container select {
    width: auto;
    padding: 0; }

#page-footer {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 15px 0 15px 0;
  box-shadow: 2px -2px 2px 1px #e5e5e5; }
  #page-footer .share-container a {
    display: inline-block;
    margin: 0 5px; }
  #page-footer .popup-links {
    display: inline-block;
    width: 100%;
    margin: 15px 0 15px 0; }
    #page-footer .popup-links a {
      display: inline-block;
      width: 100%;
      margin: 0 0 5px; }

.page-container {
  display: inline-block;
  width: 100%;
  padding: 10px; }
  .page-container section {
    display: inline-block;
    width: 100%;
    padding: 0 0 10px 0; }
    .page-container section h3 {
      margin: 10px 0; }
    .page-container section h3.link {
      cursor: pointer;
      text-decoration: underline; }
    .page-container section h3.link:hover {
      text-decoration: underline; }
    .page-container section .center-content {
      display: inline-block;
      width: 100%;
      text-align: center; }
    .page-container section .bonus {
      font-size: 45px;
      line-height: 50px;
      color: #e3000e;
      font-family: Helvetica;
      font-weight: normal;
      margin: 0 0 15px 0; }
    .page-container section .current-points {
      display: inline-block;
      font-size: 80px;
      padding: 50px;
      color: #e3000e;
      background: #e5e5e5; }
    .page-container section .points-for-row {
      display: inline-block;
      margin: 0 0 5px 0;
      text-align: center;
      width: 100%; }
      .page-container section .points-for-row span {
        display: inline-block;
        color: #e3000e;
        background: #e5e5e5;
        padding: 8px;
        font-size: 20px; }
      .page-container section .points-for-row label {
        display: inline-block;
        margin: 0 0 0 10px;
        cursor: default;
        width: 190px; }
    .page-container section .open-question {
      display: inline-block;
      color: #e3000e;
      border: 1px solid #fff;
      font-size: 20px;
      margin: 10px 1px 0 0; }
      .page-container section .open-question img {
        width: 40px;
        height: 40px; }
    .page-container section .open-question:hover {
      border: 1px solid #e3000e;
      color: #fff;
      text-decoration: none; }
  .page-container section.danke .link-btn {
    width: 100%; }
  .page-container section.highscores table {
    margin-left: auto;
    margin-right: auto; }
    .page-container section.highscores table td {
      text-align: left;
      padding: 5px 20px 5px 10px; }
    .page-container section.highscores table tr:nth-child(odd) td {
      background-color: #e5e5e5; }
    .page-container section.highscores table tr.my-rank td.name {
      color: #e3000e; }
    .page-container section.highscores table td.rank {
      color: #e3000e; }
    .page-container section.highscores table td.name {
      width: 300px; }
    .page-container section.highscores table td.points {
      color: #e3000e;
      text-align: right;
      padding-right: 10px;
      width: 100px; }
  .page-container section.current-question h3 {
    margin: 10px 0 5px 0; }
  .page-container section.current-question h2 {
    font-family: MeliorCom-Bold;
    font-weight: normal !important;
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 15px 0; }
  .page-container section.current-question .center-content span {
    font-weight: bold;
    color: #e3000e; }
  .page-container section.current-question .center-content img {
    width: 55px;
    height: 55px;
    display: inline-block;
    margin: 10px 0 5px 0; }

.page-container.advent h1 {
  font-size: 18px;
  color: #e3000e;
  text-transform: uppercase;
  line-height: 25px !important; }
  .page-container.advent h1 span {
    font-family: Helvetica;
    font-weight: normal;
    color: #e3000e; }

#fanwall img {
  width: 140px;
  margin: 0px 1px 5px 1px;
  display: inline-block; }

.intro-hashtag-container img {
  width: 130px;
  margin: 5px;
  display: inline-block; }

.shape-container {
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: center; }
  .shape-container a {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 101; }
  .shape-container a.prev {
    left: 0; }
  .shape-container a.next {
    right: 0; }
  .shape-container .snowie-version {
    display: none; }
  .shape-container .snowie-version.active {
    display: inline-block; }

#map-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  opacity: 0; }

#map-back-btn {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px; }
  #map-back-btn img {
    width: 40px;
    height: 40px; }

#map-feedback-container {
  display: inline-block;
  position: absolute;
  padding: 5px 10px;
  z-index: 300;
  top: 10px;
  left: 60px;
  right: 10px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 1px 1px #edecec;
  border-radius: 10px;
  display: none; }
  #map-feedback-container .question-how-to {
    display: inline-block;
    width: 100%;
    text-align: center; }
    #map-feedback-container .question-how-to span {
      color: #e3000e !important;
      font-size: 12px;
      line-height: 14px !important; }
    #map-feedback-container .question-how-to span.important {
      font-weight: bold; }

#answer-points {
  font-size: 18px !important; }

.content-template {
  display: none; }

.msg-container {
  display: none;
  width: 100%; }

.msg-container.visible {
  display: block !important; }
  .msg-container.visible .msg {
    display: block !important; }

.msg {
  width: 100%;
  display: none;
  padding: 10px;
  margin: 10px 0 10px 0;
  text-align: center; }
  .msg p {
    padding: 0;
    margin: 0; }

.msg.error {
  border: 1px solid #ef4d69;
  background: #fef3f5; }
  .msg.error h2 {
    color: #ef4d69;
    font-size: 20px; }

.msg.success {
  border: 1px solid #0eb48d;
  background: #c2ece2; }
  .msg.success h2 {
    color: #0eb48d;
    font-size: 20px; }

form {
  width: 100%;
  display: inline-block;
  margin: 0 !important; }
  form .field-container {
    width: 100%;
    display: inline-block;
    margin: 0 0 10px 0; }
    form .field-container label {
      width: 100%;
      display: inline-block; }
    form .field-container input, form .field-container select {
      width: 100%;
      display: inline-block;
      margin: 0 0 5px 0;
      border: 1px solid #d5d5d5;
      -moz-box-shadow: inset 0 0 5px #e6e6e6;
      -webkit-box-shadow: inset 0 0 5px #e6e6e6;
      box-shadow: inset 0 0 5px #e6e6e6;
      padding: 5px 10px;
      border-radius: 3px;
      margin: 0 0 10px 0;
      font-size: 100%;
      line-height: auto;
      height: auto; }
    form .field-container input[type="radio"], form .field-container input[type="checkbox"] {
      width: auto;
      border: 0;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding-left: 0 !important;
      vertical-align: middle !important;
      margin: 0; }
    form .field-container label.radio {
      width: auto;
      display: inline-block;
      margin: 0 15px 0 5px;
      padding-left: 0px; }
    form .field-container .checkbox-container {
      display: inline-block;
      padding: 5px 0 5px 0;
      width: 100%; }
      form .field-container .checkbox-container input {
        width: 5%;
        vertical-align: top !important; }
      form .field-container .checkbox-container label {
        width: 80%; }
  form .login-options {
    text-align: center; }
    form .login-options h2 {
      margin: 0; }
    form .login-options a {
      font-weight: bold;
      display: inline-block;
      margin: 5px 0 0 0;
      color: #e3000e;
      text-decoration: underline; }
    form .login-options span {
      display: inline-block;
      width: 100%;
      margin: 10px 0;
      text-align: center;
      font-size: 14px; }

#login-container {
  display: none;
  text-align: center; }
  #login-container span {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 10px 0; }
  #login-container .back-link {
    display: inline-block;
    font-size: 16px;
    text-decoration: underline;
    color: #e3000e;
    font-weight: bold; }

.email-share-form {
  display: inline-block;
  width: 200px;
  z-index: 10000001;
  height: 170px; }
  .email-share-form input {
    z-index: 10000001;
    float: left; }
  .email-share-form input[type="text"] {
    height: 30px;
    width: 100%; }

.email-share-success {
  z-index: 10000001;
  display: none;
  float: left;
  width: 200px;
  margin-bottom: 10px;
  height: 170px; }

/* MODAL */
.modal-backdrop, .modal-backdrop.fade.in {
  background: #fff;
  z-index: -1;
  opacity: 0.98; }

.modal.modal-fullscreen {
  max-width: none; }

.modal-fullscreen.fade.in {
  bottom: 0;
  top: 0; }

.modal-fullscreen {
  background: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin-left: -50% !important;
  width: 100% !important; }

.modal-header, modal-footer {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2000;
  display: inline-block;
  width: 100%; }
  .modal-header .btn-close, modal-footer .btn-close {
    display: inline-block;
    float: right;
    background-image: url(/Images/btn-close.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer; }

.modal-header [data-dismiss="modal"] {
  float: right; }

.modal-body {
  max-height: 100%;
  padding: 0;
  text-align: center;
  margin: 10px 5px 5px 5px !important; }
  .modal-body article {
    display: inline-block;
    width: 100%;
    padding: 5px; }
    .modal-body article .content {
      position: relative;
      display: inline-block;
      width: 100%;
      margin: 10px 0; }
      .modal-body article .content iframe {
        border: 0px; }
      .modal-body article .content .gallery-container {
        display: inline-block;
        width: 100%;
        position: relative; }
        .modal-body article .content .gallery-container a {
          position: absolute;
          top: 50%;
          margin-top: -20px;
          z-index: 101; }
        .modal-body article .content .gallery-container a.prev {
          left: 0px;
          display: none; }
        .modal-body article .content .gallery-container a.next {
          right: 0px;
          display: none; }
        .modal-body article .content .gallery-container .g-item {
          display: none; }
        .modal-body article .content .gallery-container .g-item.active {
          display: inline-block; }
    .modal-body article .content.teilnahmebedingungen {
      text-align: left; }
      .modal-body article .content.teilnahmebedingungen h4 {
        text-align: left;
        margin: 5px 0; }
    .modal-body article .content-description {
      position: relative;
      display: inline-block;
      width: 100%;
      margin: 0 0 10px 0; }
    .modal-body article .rezept-container {
      position: relative;
      display: inline-block;
      width: 100%;
      text-align: left; }
      .modal-body article .rezept-container h1 {
        margin: 0 0 15px 0; }
      .modal-body article .rezept-container .col {
        display: inline-block;
        width: 100%;
        text-align: left;
        vertical-align: top;
        margin: 0 0 15px 0; }
        .modal-body article .rezept-container .col h3 {
          text-align: left; }
  .modal-body footer {
    position: relative;
    display: inline-block;
    width: 100%; }
    .modal-body footer .content-container {
      position: relative;
      display: inline-block;
      width: 100%;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      padding: 10px 0;
      margin: 0 0 20px 0; }
      .modal-body footer .content-container .left {
        display: inline-block;
        width: 100%;
        text-align: center;
        vertical-align: top;
        margin: 0 0 15px 0; }
        .modal-body footer .content-container .left a {
          color: #e3000e; }
      .modal-body footer .content-container .right {
        display: inline-block;
        width: 100%;
        margin: 0 0 40px 0; }
        .modal-body footer .content-container .right .link-btn {
          width: 100%;
          margin: 0 0 3px 0;
          padding: 5px 20px; }
        .modal-body footer .content-container .right .share-container {
          display: inline-block;
          width: 100%;
          margin: 10px 0 0 0; }
          .modal-body footer .content-container .right .share-container span {
            display: inline-block;
            text-align: center;
            width: 100%;
            margin: 0 0 10px 0; }
          .modal-body footer .content-container .right .share-container a {
            margin: 0 5px 0 0; }

.modal-body > * {
  margin-bottom: 0;
  margin-top: 0; }

.modal-footer {
  bottom: 0;
  top: auto; }

@media (max-width: 767px) {
  .modal {
    left: 50%; } }

.error, input.error, select.error, textarea.error {
  background: #f7a6b4;
  color: #fff; }
  .error label, input.error label, select.error label, textarea.error label {
    color: #fff; }

.error::-webkit-input-placeholder {
  color: #fff; }

.error:-moz-placeholder {
  color: #fff;
  opacity: 1; }

.error::-moz-placeholder {
  color: #fff;
  opacity: 1; }

.error:-ms-input-placeholder {
  color: #fff; }

.full-width {
  width: 100% !important; }

#loading-message {
  display: none;
  background: #fff;
  font-size: 25px;
  color: #000;
  position: fixed;
  z-index: 1000099;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 15px 0 0 0; }

#loading-message span {
  display: block;
  margin: 0 auto; }

#loading-message span[class*="l-"] {
  height: 4px;
  width: 4px;
  background: #000;
  display: inline-block;
  margin: 12px 2px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-animation: loader 4s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
  -webkit-animation-fill-mode: both;
  -moz-animation: loader 4s infinite;
  -moz-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
  -moz-animation-fill-mode: both;
  -ms-animation: loader 4s infinite;
  -ms-animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
  -ms-animation-fill-mode: both;
  animation: loader 4s infinite;
  animation-timing-function: cubic-bezier(0.03, 0.615, 0.995, 0.415);
  animation-fill-mode: both; }

#loading-message span.l-1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s; }

#loading-message span.l-2 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s; }

#loading-message span.l-3 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s; }

#loading-message span.l-4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s; }

#loading-message span.l-5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s; }

#loading-message span.l-6 {
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -ms-animation-delay: 0;
  -moz-animation-delay: 0; }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: translateX(-30px);
    opacity: 0; }

  25% {
    opacity: 1; }

  50% {
    -webkit-transform: translateX(30px);
    opacity: 0; }

  100% {
    opacity: 0; } }

@-moz-keyframes loader {
  0% {
    -moz-transform: translateX(-30px);
    opacity: 0; }

  25% {
    opacity: 1; }

  50% {
    -moz-transform: translateX(30px);
    opacity: 0; }

  100% {
    opacity: 0; } }

@-keyframes loader {
  0% {
    -transform: translateX(-30px);
    opacity: 0; }

  25% {
    opacity: 1; }

  50% {
    -transform: translateX(30px);
    opacity: 0; }

  100% {
    opacity: 0; } }

@-ms-keyframes loader {
  0% {
    -ms-transform: translateX(-30px);
    opacity: 0; }

  25% {
    opacity: 1; }

  50% {
    -ms-transform: translateX(30px);
    opacity: 0; }

  100% {
    opacity: 0; } }
